{% extends 'base.html.twig' %}

{% block title %}Offline{% endblock %}

{% block body %}
    <h1>You are offline</h1>
    <p>It seems you have lost internet connection. Please try again later.</p>
{% endblock %}
